Chi square test can be use to identify caterogical features relevance

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
df = sns.load_dataset('titanic')

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
x = df[['sex','embarked','alone','pclass']]
y = df['survived']

In [ ]:
x['sex'] = np.where(df['sex']=='male',1,0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
x.head()

   sex embarked  alone  pclass
0    1        S  False       3
1    0        C  False       1
2    0        S   True       3
3    0        S  False       1
4    1        S   True       3

In [ ]:
ordinal_label = {k:i for i,k in enumerate(x['embarked'].unique(),0)}

In [ ]:
ordinal_label

{'C': 1, 'Q': 2, 'S': 0, nan: 3}

In [ ]:
x['embarked'] = x['embarked'].map(ordinal_label)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
x['embarked'].value_counts()

0    644
1    168
2     77
3      2
Name: embarked, dtype: int64

In [ ]:
#perform label encoding on alone
x['alone'] = np.where(x['alone']==True,1,0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
x.head()

   sex  embarked  alone  pclass
0    1         0      0       3
1    0         1      0       1
2    0         0      1       3
3    0         0      0       1
4    1         0      1       3

In [ ]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=42)

In [ ]:
X_train

     sex  embarked  alone  pclass
445    1         0      0       1
650    1         0      1       3
172    0         0      0       3
450    1         0      0       2
314    1         0      0       2
..   ...       ...    ...     ...
106    0         0      1       3
270    1         0      1       1
860    1         0      0       3
435    0         0      0       1
102    1         0      0       1

[623 rows x 4 columns]

In [ ]:
X_train.isnull().sum()

sex         0
embarked    0
alone       0
pclass      0
dtype: int64

In [ ]:
#perform chi2 test
#returns two values fscore and pvalue
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train, y_train)

In [ ]:
f_p_values

(array([60.41964418, 11.363384  ,  8.35778435, 17.40807208]),
 array([7.66442567e-15, 7.49062219e-04, 3.84038546e-03, 3.01542662e-05]))

In [ ]:
p_values = pd.Series(f_p_values[1])
p_values.index = X_train.columns

In [ ]:
#less value major role in result
p_values.sort_index(ascending=False)

sex         7.664426e-15
pclass      3.015427e-05
embarked    7.490622e-04
alone       3.840385e-03
dtype: float64